<html>
    <head>
        <title>Nikita's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nikita's blog</a></h1>
        </div>

        <div>
            <p>published: 29.03.2021, 17:24</p>
            <h2><a href="">My first post</a></h2>
            <p>Я работаю в Первой линии. Я работник Первой линии. Я и есть Первая линия.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Я ЕСТЬ СМЕРТЬ!</p>
        </div>
    </body>
</html>